@import "tailwindcss";

@theme {
  --animate-scroll-up: scroll-up 25s linear infinite;

  @keyframes scroll-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}
