@theme {
  --color-primary: #009379;
  --color-primary-dark: #007566;
  --color-primary-light: #d9f5f1;

  --color-secondary: #fddf89;
  --color-secondary-dark: #f5c759;
  --color-secondary-light: #fff9e9;

  --color-background: #f5fefe;
  --color-surface: #ffffff;

  --color-text-primary: #1f1f1f;
  --color-text-muted: #6e6e6e;
  --color-text-light: #9e9e9e;

  --color-border: #e5e7eb;

  --color-accent-orange: #ffb84c;
  --color-accent-pink: #ffe2e2;
  

  --color-success: #3ec70b;
  --color-error: #e02e2e;
  --color-info: #53b6ff;

  --shadow-default: 0 4px 6px rgba(0, 0, 0, 0.06);
}
